body {
    height: 100%;
}

.footer {
    background: #f5f5f5;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    position: absolute;
    bottom: -200px;
}

.navbar {
    text-align : center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

